<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Automation test">
    <test name="Automation">
        <packages>
            <package name="testCases"></package>


        </packages>
        <classes>
            <class name="testCases.ComputerTest"/>
        </classes>
    </test>
</suite>